<mat-nav-list class="">
  <div class="logo">
    <img src="https://puneruralpolice.gov.in/img/main_logo.png" alt="">

  </div>
  <div class="divider">
    <hr class="hr" />
  </div>




  <h2 matSubheader class="mt-2 App">Application</h2>


    <ul class="list-group" >

      <a   mat-list-item  routerLink="./home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Home
      </a>
      <a mat-list-item routerLink="./dashbord" routerLinkActive="list-item-active" class="">
        <mat-icon>dashboard</mat-icon>Dashboard
      </a>
      <a mat-list-item routerLink="" routerLinkActive="list-item-active">
        <mat-icon>settings</mat-icon>Settings
      </a>
      <a mat-list-item routerLink="" routerLinkActive="list-item-active">
        <mat-icon>person</mat-icon>Criminals
      </a>
    </ul>


</mat-nav-list>
