<mat-toolbar>
  <mat-toolbar-row class="justify-content-between mychaing">
    <button mat-icon-button  (click)="toggleSidebar()">
      <mat-icon [ngStyle]="{'color':':#1F305E'}"> menu</mat-icon>
    </button>
    <div class="row mr-2 ml-auto">
      <ul class="row m-0 align-items-center">
        <li>
          <button
          [ngStyle]="{'color':':#1F305E'}"
            mat-button
            [matMenuTriggerFor]="menu"
            class="user mt-2 d-flex align-items-center"
          >
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsJB6iTrE2bCLOige-kfgyKErjm8RffpNzweUJVnVOTQ&s" alt="" class="user-image mr-1 p-2" />

           {{userName }}
            <mat-icon [ngStyle]="{'color':':#1F305E'}"  class="user-image-icon ml-1"
              >keyboard_arrow_down</mat-icon
            >
          </button>
          <mat-menu  #menu="matMenu">
            <button mat-menu-item (click)="logOut()">
              <mat-icon color="primary" >exit_to_app</mat-icon>
              Logout
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>



